DJANGO_SECRET_KEY=1111111111111111111111
DJANGO_DEBUG=False
POSTGRES_DB=neondb
POSTGRES_DB_PORT=5432
POSTGRES_USER=neondb_owner
POSTGRES_PASSWORD=npg_zI1se4jZMmEn
POSTGRES_HOST=ep-patient-resonance-a2nswt8p-pooler.eu-central-1.aws.neon.tech
PGSSLMODE=require
